<div class="padding-top container">
    <div class="col-md-6 col-md-offset-1">
        <h2>Zaloguj się</h2>
        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <label for="login_username">Nazwa użytkownika</label>
                <input type="text" class="form-control" id="login_username" name="username" [(ngModel)]="model.username" #username="ngModel"
                       required/>
                <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <label for="login_password">Hasło</label>
                <input type="password" class="form-control" id="login_password" name="password" [(ngModel)]="model.password"
                       #password="ngModel" required/>
                <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <div class="spinner-small spinner" *ngIf="loading">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                    <span *ngIf="!loading">Zaloguj</span>
                </button>


            </div>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </form>
    </div>
</div>
