<div>
    <div *ngIf="success" class="alert alert-success">{{success}}</div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>

    <div>
        <input type="text" [(ngModel)]="filterValue">
    </div>

    <div>
        <table class="table table-sm table-striped">
            <thead>
            <tr>
                <th>#ID</th>
                <th>Nazwa</th>
                <th>ID klienta</th>
                <th>Wartość</th>
                <th>Dodatkowe informacje</th>
                <th colspan="1"></th>
                <th colspan="1"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let property of properties | filter : filteredFields : filterValue">
                <th scope="row">{{ property.id }}</th>
                <td>{{property.name}}</td>
                <td>
                    <a [routerLink]="['/clients/' + property.clientId]">{{property.clientId}}</a>
                </td>
                <td>{{property.value}}</td>
                <td>{{property.propertyAdditionalInformation}}</td>
                <td class="centered">
                    <i class="fa fa-eye" aria-hidden="true" [routerLink]="['/properties/' + property.id]"></i>
                </td>
                <td class="centered" (click)="showModal(property.id)">X</td>

            </tr>
            </tbody>
        </table>
    </div>
</div>