<navbar></navbar>

<div class="padding-top">
    <div *ngIf="success" class="alert alert-success">{{success}}</div>


    <form *ngIf="active" name="form" class="form-horizontal" (ngSubmit)="f.form.valid && addClient()" #f="ngForm"
          novalidate>
        <div class="form-group" [ngClass]="{ 'has-error':f.submitted && !name.valid }">
            <label class="control-label col-sm-2" for="name">Imię</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" minlength="3" id="name" name="name" placeholder="Imię"
                       [(ngModel)]="model.name" #name="ngModel" required pattern="[a-zA-Z łąćężźóń]*"
                       (ngModelChange)="model.name.valid = true"/>
                <div *ngIf="f.submitted && !name.valid && f.form.controls['name'].hasError('required')"
                     class="help-block">Pole Imię jest wymagane
                </div>
                <div *ngIf="f.submitted && !name.valid && !f.form.controls['name'].hasError('required')"
                     class="help-block">Należy wprowadzić prawidłowe dane
                </div>
            </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error':f.submitted && !lastname.valid }">
            <label class="control-label col-sm-2" for="lastname">Nazwisko</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Nazwisko"
                       [(ngModel)]="model.lastname" #lastname="ngModel" required pattern="[a-zA-Z łąćężźóń]*"
                       minlength="3"
                       (ngModelChange)="model.lastname.valid = true"/>
                <div *ngIf="f.submitted && !lastname.valid && f.form.controls['lastname'].hasError('required')"
                     class="help-block">Pole Nazwisko jest wymagane
                </div>
                <div *ngIf="f.submitted && !lastname.valid && !f.form.controls['lastname'].hasError('required')"
                     class="help-block">Należy wprowadzić prawidłowe dane
                </div>
            </div>
        </div>
        <!--<div class="form-group" [ngClass]="{ 'has-error':f.submitted && !street.valid }">
            <label class="control-label col-sm-2" for="street">Ulica</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="street" name="street" placeholder="Ulica"
                       [(ngModel)]="model.street" #street="ngModel" required
                       (ngModelChange)="model.street.valid = true"/>
                <div *ngIf="f.submitted && !street.valid" class="help-block">Pole Ulica jest wymagane</div>
            </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error':f.submitted && !streetNumber.valid }">
            <label class="control-label col-sm-2" for="streetNumber">Numer ulicy</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="streetNumber" placeholder="Numer ulicy" name="streetNumber"
                       [(ngModel)]="model.streetNumber" #streetNumber="ngModel" required
                       (ngModelChange)="model.streetNumber.valid = true"/>
                <div *ngIf="f.submitted && !streetNumber.valid" class="help-block">Pole Numer ulicy jest wymagane</div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="homeNumber">Numer mieszkania</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="homeNumber" placeholder="Numer mieszkania" name="homeNumber"
                       [(ngModel)]="model.homeNumber" #homeNumber="ngModel">
            </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error':f.submitted && !postCode.valid }">
            <label class="control-label col-sm-2" for="postCode">Kod pocztowy</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="postCode" placeholder="Kod pocztowy" name="postCode"
                       [(ngModel)]="model.postCode" #postCode="ngModel" required
                       (ngModelChange)="model.postCode.valid = true"/>
                <div *ngIf="f.submitted && !postCode.valid" class="help-block">Pole Kod pocztowy jest wymagane</div>
            </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error':f.submitted && !city.valid }">
            <label class="control-label col-sm-2" for="city">Miasto</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="city" placeholder="Miasto" name="city"
                       [(ngModel)]="model.city" #city="ngModel" required (ngModelChange)="model.city.valid = true"/>
                <div *ngIf="f.submitted && !city.valid" class="help-block">Pole Miasto jest wymagane</div>
            </div>
        </div>-->
        <div class="form-group" [ngClass]="{ 'has-error':f.submitted && !pesel.valid }">
            <label class="control-label col-sm-2" for="pesel">Pesel:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="pesel" placeholder="Pesel" name="pesel"
                       [(ngModel)]="model.pesel" #pesel="ngModel" pattern="[0-9]*" minlength="11" maxlength="11"
                       required (ngModelChange)="model.pesel.valid = true;" />
                <div *ngIf="f.submitted && !pesel.valid && f.form.controls['pesel'].hasError('required')"
                     class="help-block">Pole Pesel jest wymagane
                </div>
                <div *ngIf="f.submitted && !pesel.valid && !f.form.controls['pesel'].hasError('required') && !f.form.controls['pesel'].hasError('pattern') && (f.form.controls['pesel'].hasError('minlength') || f.form.controls['pesel'].hasError('maxlength'))"
                     class="help-block">Pole Pesel powinno składać się dokładnie z 11 cyfr
                </div>
                <div *ngIf="f.submitted && !pesel.valid && !f.form.controls['pesel'].hasError('required') && f.form.controls['pesel'].hasError('pattern')"
                     class="help-block">Należy wprowadzić prawidłowy numer pesel
                </div>

            </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error':f.submitted && !birthDate.valid }">
            <label class="control-label col-sm-2" for="birthDate">Data urodzenia</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="birthDate" placeholder="rrrr-mm-dd" name="birthDate"
                       [(ngModel)]="model.birthDate" #birthDate="ngModel" required
                       minlength="10" maxlength="10" (ngModelChange)="model.birthDate.valid = true" convertDate/>
                <div *ngIf="f.submitted && !birthDate.valid && f.form.controls['birthDate'].hasError('required')"
                     class="help-block">Pole Data Urodzenia jest wymagane
                </div>
                <div *ngIf="f.submitted && !birthDate.valid && !f.form.controls['birthDate'].hasError('required') "
                     class="help-block">Należy wprowadzić datę w formacie rrrr-MM-dd
                </div>
            </div>
        </div>

        <div class="form-group">
            <button [disabled]="loading" class="btn btn-default btn-lg right">
                <div class="spinner-small spinner" *ngIf="loading">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
                <span *ngIf="!loading">Akceptuj</span>
            </button>
        </div>

        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <div class="alert alert-danger" id="peselSum"></div>
    </form>
</div>
