<div>
    <div>
        <input type="text" [(ngModel)]="filterValue">
    </div>

    <div>
        <table class="table table-sm table-striped">
            <thead>
            <tr>
                <th>#ID</th>
                <th>Nazwa</th>
                <th>ID klienta</th>
                <th>Wartość</th>
                <th>Składka miesięczna</th>
                <th>Data podpisania</th>
                <th>Data rozpoczęcia</th>
                <th>Data zakończenia</th>
                <th>Typ kalkulacji</th>
                <th>Dodatkowe informacje</th>
                <th colspan="1"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let policy of policies | filter : filteredFields : filterValue">
                <th scope="row">{{ policy.id }}</th>
                <td>{{policy.name}}</td>
                <td>
                    <a [routerLink]="['/clients/' + policy.clientId]">{{policy.clientId}}</a>
                </td>
                <td>{{policy.value}}</td>
                <td>{{policy.monthlyCost}}</td>
                <td>{{policy.signedAt}}</td>
                <td>{{policy.startedAt}}</td>
                <td>{{policy.endedAt}}</td>
                <td>{{policy.calculationType}}</td>
                <td>{{policy.additionalInformation}}</td>
                <!--<td class="centered"><i class="fa fa-trash" aria-hidden="true" (click)="removeClient(policy.id)"></i></td>-->
                <td class="centered">
                    <i class="fa fa-eye" aria-hidden="true" [routerLink]="['/policies/' + policy.id]"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>