<navbar></navbar>

<div class="padding-top">

    <form name="form" class="form-horizontal" (ngSubmit)="f.form.valid && editClient()" #f="ngForm" novalidate>

        <div class="form-group" [ngClass]="{ 'has-error':f.submitted && !firstName.valid }">
            <label class="control-label col-sm-2" for="firstName">Imię</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-minlength="3" id="firstName" name="firstName"
                       placeholder="Imię"
                       [(ngModel)]="client.firstName" #firstName="ngModel" required
                       (ngModelChange)="client.firstName.valid = true"/>
                <div *ngIf="f.submitted && !firstName.valid" class="help-block">Pole Imię jest wymagane</div>
            </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error':f.submitted && !lastName.valid }">
            <label class="control-label col-sm-2" for="lastName">Nazwisko</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Nazwisko"
                       [(ngModel)]="client.lastName" #lastName="ngModel" required
                       (ngModelChange)="client.lastName.valid = true"/>
                <div *ngIf="f.submitted && !lastName.valid" class="help-block">Pole Nazwisko jest wymagane</div>
            </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error':f.submitted && !street.valid }">
            <label class="control-label col-sm-2" for="street">Ulica</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="street" name="street" placeholder="Ulica"
                       [(ngModel)]="client.street" #street="ngModel" required
                       (ngModelChange)="client.street.valid = true"/>
                <div *ngIf="f.submitted && !street.valid" class="help-block">Pole Ulica jest wymagane</div>
            </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error':f.submitted && !streetNumber.valid }">
            <label class="control-label col-sm-2" for="streetNumber">Numer ulicy</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="streetNumber" placeholder="Numer ulicy" name="streetNumber"
                       [(ngModel)]="client.streetNumber" #streetNumber="ngModel" required
                       (ngModelChange)="client.streetNumber.valid = true"/>
                <div *ngIf="f.submitted && !streetNumber.valid" class="help-block">Pole Numer ulicy jest wymagane</div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="homeNumber">Numer mieszkania</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="homeNumber" placeholder="Numer mieszkania" name="homeNumber"
                       [(ngModel)]="client.homeNumber" #homeNumber="ngModel">
            </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error':f.submitted && !postCode.valid }">
            <label class="control-label col-sm-2" for="postCode">Kod pocztowy</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="postCode" placeholder="Kod pocztowy" name="postCode"
                       [(ngModel)]="client.postCode" #postCode="ngModel" required
                       (ngModelChange)="client.postCode.valid = true"/>
                <div *ngIf="f.submitted && !postCode.valid" class="help-block">Pole Kod pocztowy jest wymagane</div>
            </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error':f.submitted && !city.valid }">
            <label class="control-label col-sm-2" for="city">Miasto</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="city" placeholder="Miasto" name="city"
                       [(ngModel)]="client.city" #city="ngModel" required (ngModelChange)="client.city.valid = true"/>
                <div *ngIf="f.submitted && !city.valid" class="help-block">Pole Miasto jest wymagane</div>
            </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error':f.submitted && !pesel.valid }">
            <label class="control-label col-sm-2" for="pesel">Pesel:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="pesel" placeholder="Pesel" name="pesel"
                       [(ngModel)]="client.pesel" #pesel="ngModel" required
                       (ngModelChange)="client.pesel.valid = true"/>
                <div *ngIf="f.submitted && !pesel.valid" class="help-block">Pole Pesel jest wymagane</div>
            </div>
        </div>

        <div class="form-group">
            <button [disabled]="loading" class="btn btn-default btn-lg right">
                <div class="spinner-small spinner" *ngIf="loading">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
                <span *ngIf="!loading">Zapisz</span>
            </button>


        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>
</div>
