<navbar></navbar>
<div class="padding-top">
    <a [routerLink]="['/clients/' + id + '/edit']"><i class="fa fa-pencil" aria-hidden="true"></i> Edytuj</a>
    <a (click)="removeClient()"><i class="fa fa-trash" aria-hidden="true"></i> Usuń</a>

    <ul class="list-group">
        <li class="list-group-item"><strong>Imię: </strong>{{client.firstName}}</li>
        <li class="list-group-item"><strong>Nazwisko: </strong>{{client.lastName}}</li>
        <!--<li class="list-group-item"><strong>Ulica: </strong>{{client.street}} {{client.streetNumber}}</li>-->
        <!--<li class="list-group-item"><strong>Numer mieszkania: </strong>{{client.homeNumber}}</li>-->
        <!--<li class="list-group-item"><strong>Miasto: </strong> {{client.postCode}} {{client.city}}</li>-->
        <li class="list-group-item"><strong>Pesel: </strong>{{client.pesel}}</li>
        <li class="list-group-item"><strong>Data urodzenia: </strong> {{client.birthDate}}</li>
    </ul>

    <h3>Polisy</h3>

    <policies [policies]="policies"></policies>
</div>
