<navbar></navbar>
<div class="padding-top">
    <div *ngIf="success" class="alert alert-success">{{success}}</div>

    <div *ngIf="active">
        <a [routerLink]="['/clients/' + id + '/edit']"><i class="fa fa-pencil" aria-hidden="true"></i> Edytuj</a>
        <a (click)="showModal()"><i class="fa fa-trash" aria-hidden="true"></i> Usuń</a>

        <ul class="list-group">
            <li class="list-group-item"><strong>Imię: </strong>{{client.name}}</li>
            <li class="list-group-item"><strong>Nazwisko: </strong>{{client.surname}}</li>
            <li class="list-group-item"><strong>Pesel: </strong>{{client.pesel}}</li>
            <li class="list-group-item"><strong>Data urodzenia: </strong> {{client.birthDate}}</li>
            <li class="list-group-item"><strong>Stan konta: </strong> {{client.accountBalance}}</li>
        </ul>
    </div>

    <div *ngIf="error" class="alert alert-danger">{{error}}</div>

    <h3>Mienie</h3>
    <a [routerLink]="['/clients/' + id + '/properties/create']"><i class="fa fa-plus" aria-hidden="true"></i> Dodaj mienie</a>

    <properties [properties]="properties"></properties>

    <h3>Polisy</h3>
    <a [routerLink]="['/clients/' + id + '/policies/create']"><i class="fa fa-plus" aria-hidden="true"></i> Dodaj polisę</a>

    <policies [policies]="policies"></policies>
</div>
