<navbar></navbar>
<div class="padding-top">
    <a (click)="removePolicy()"><i class="fa fa-trash" aria-hidden="true"></i> Usuń</a>
    <ul class="list-group">
        <li class="list-group-item"><strong>Od: </strong>{{policy.startedAt}}</li>
        <li class="list-group-item"><strong>Do: </strong> {{policy.endedAt}}</li>
        <li class="list-group-item"><strong>Data podpisania: </strong> {{policy.signedAt}}</li>
        <li class="list-group-item"><strong>Nazwisko: </strong> {{policy.surname}}</li>
        <li class="list-group-item"><strong>Imię: </strong> {{policy.name}}</li>
        <li class="list-group-item"><strong>Mienie: </strong> {{policy.property}}</li>
        <li class="list-group-item"><strong>Wartość: </strong> {{policy.value}}</li>
        <li class="list-group-item"><strong>Miesięczna składka: </strong> {{policy.monthlyCost}}</li>
        <li class="list-group-item"><strong>Dodatkowe informacje o mieniu: </strong> {{policy.propertyAdditionalInformation}}</li>
        <li class="list-group-item"><strong>Miesięczna składka: </strong> {{policy.monthlyCost}}</li>
        <li class="list-group-item"><strong>Typ kalkulacji: </strong> {{policy.calculationType}}</li>
        <li class="list-group-item"><strong>Dodatkowe informacje: </strong> {{policy.additionalInformation}}</li>
    </ul>
</div>
